<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - A starter web project</title>
</head>
<body>
    <div>
        <form action="/login" method="get">
            {%csrf_token%}
            <input hidden name="type" value="user"/>
            <button id="userBtn">
                User
            </button>
        </form>
        <form action="/login" method="post">
            {%csrf_token%}
            <input hidden name="type" value="admin"/>
            <input hidden name="auth" value="123"/>
            <button id="adminBtn">
                Admin
            </button>
        </form>
    </div>
</body>
</html>