<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User - A starter web project</title>
    <script>
        window.onload = function() {
            attachDefaultListener(fetchElemById("getBoardMessageBtn"), function () {
                new Promise((resolve, reject) => {
                    let xhr = new XMLHttpRequest();
                    xhr.open("GET", "/get-board-message", true);
                    xhr.send();
                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            resolve(xhr.responseText)
                        }
                    }
                }).then(message => {
                    window.updateBoardMessage(message);
                })
        });
}

    function attachDefaultListener(documentElement, callbackFn) {
        documentElement.onclick = callbackFn;
    }

    function fetchElemById(documentId) {
        return document.getElementById(documentId);
    }

    function updateBoardMessage(message) {
        fetchElemById("board").innerHTML = message;
    }
    </script>
</head>
<body>
    <div style="text-align: center">
        <h3 id="board"></h3>
    </div>
    <div style="text-align: center;">
        <button id="getBoardMessageBtn">获取公告</button>
    </div>
</body>
</html>